<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.ssm.dao.MessageDao">
  <resultMap id="BaseResultMap" type="com.exam.ssm.model.Message">
    <id column="messageid" jdbcType="INTEGER" property="messageid" />
    <result column="messagetype" jdbcType="CHAR" property="messagetype" />
    <result column="messagetitle" jdbcType="CHAR" property="messagetitle" />
    <result column="messagetarget" jdbcType="INTEGER" property="messagetarget" />
    <result column="messagetime" jdbcType="TIMESTAMP" property="messagetime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.exam.ssm.model.Message">
    <result column="messagecontent" jdbcType="LONGVARCHAR" property="messagecontent" />
  </resultMap>
  <sql id="Base_Column_List">
    messageid, messagetype, messagetitle, messagetarget, messagetime
  </sql>
  <sql id="Blob_Column_List">
    messagecontent
  </sql>
  <select id="getMessagesBytarget" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    where messagetarget = #{messagetarget,jdbcType=INTEGER}
  </select>

  <select id="getMessageAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from message
    order by messagetime DESC
    LIMIT #{startline},#{endline}
  </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue May 08 11:37:39 CST 2018.
    -->
    delete from message
    where messageid = #{messageid,jdbcType=INTEGER}
  </delete>
  <insert id="addmessage" parameterType="com.exam.ssm.model.Message">

    insert into message ( messagetype, messagetitle,
      messagetarget, messagetime, messagecontent
      )
    values (#{messagetype,jdbcType=CHAR}, #{messagetitle,jdbcType=CHAR},
      #{messagetarget,jdbcType=INTEGER}, #{messagetime,jdbcType=TIMESTAMP}, #{messagecontent,jdbcType=LONGVARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.exam.ssm.model.Message">
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="messagetype != null">
        messagetype,
      </if>
      <if test="messagetitle != null">
        messagetitle,
      </if>
      <if test="messagetarget != null">
        messagetarget,
      </if>
      <if test="messagetime != null">
        messagetime,
      </if>
      <if test="messagecontent != null">
        messagecontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="messagetype != null">
        #{messagetype,jdbcType=CHAR},
      </if>
      <if test="messagetitle != null">
        #{messagetitle,jdbcType=CHAR},
      </if>
      <if test="messagetarget != null">
        #{messagetarget,jdbcType=INTEGER},
      </if>
      <if test="messagetime != null">
        #{messagetime,jdbcType=TIMESTAMP},
      </if>
      <if test="messagecontent != null">
        #{messagecontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.exam.ssm.model.Message">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue May 08 11:37:39 CST 2018.
    -->
    update message
    <set>
      <if test="messagetype != null">
        messagetype = #{messagetype,jdbcType=CHAR},
      </if>
      <if test="messagetitle != null">
        messagetitle = #{messagetitle,jdbcType=CHAR},
      </if>
      <if test="messagetarget != null">
        messagetarget = #{messagetarget,jdbcType=INTEGER},
      </if>
      <if test="messagetime != null">
        messagetime = #{messagetime,jdbcType=TIMESTAMP},
      </if>
      <if test="messagecontent != null">
        messagecontent = #{messagecontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where messageid = #{messageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.exam.ssm.model.Message">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue May 08 11:37:39 CST 2018.
    -->
    update message
    set messagetype = #{messagetype,jdbcType=CHAR},
      messagetitle = #{messagetitle,jdbcType=CHAR},
      messagetarget = #{messagetarget,jdbcType=INTEGER},
      messagetime = #{messagetime,jdbcType=TIMESTAMP},
      messagecontent = #{messagecontent,jdbcType=LONGVARCHAR}
    where messageid = #{messageid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exam.ssm.model.Message">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue May 08 11:37:39 CST 2018.
    -->
    update message
    set messagetype = #{messagetype,jdbcType=CHAR},
      messagetitle = #{messagetitle,jdbcType=CHAR},
      messagetarget = #{messagetarget,jdbcType=INTEGER},
      messagetime = #{messagetime,jdbcType=TIMESTAMP}
    where messageid = #{messageid,jdbcType=INTEGER}
  </update>
</mapper>